/*                          header section                     */
.img-logo{
    margin: 0;
}

.lang-word{
    display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  
  .lang-section{
    margin-inline-end: 26px;
  }
  
  .language-anchor{
    font-size: 14px;
    color: #808080;
   font-weight: 600;
    transition: 0.5s;
  }
  .language-anchor:hover{
    color: $second-color;
    text-decoration: none;
  }
  
  .lang-part{
    display: flex;
    align-items: center;
  }
  .dropbtn{
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    border:0;
    outline: none;
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    margin-inline-end: 20px;
    transition: 0.5s;
  }
  .dropbtn:hover{
    color: $second-color;
  }
  .dropbtn:hover i{
    color: $second-color;
  }
  .dropbtn:focus{
    outline: none;
  }
  .dropbtn i{
    font-size: 20px;
    color: $main-color;
    margin-inline-end: 7px;
    transition: 0.5s;
  }
  .sign:hover{
    text-decoration: none;
    color: $second-color;
  }
  .link-adv-btn:hover{
    text-decoration: none;
    color: #fff;
  }
  .add-adv-btn{
    width: 132px;
    height: 40px;
    background-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    outline: none;
    transition: 0.5s;
    padding: 0;
  }
  .add-adv-btn:focus{
    outline: none;
  }
  .add-adv-btn:hover{
    background-color: $main-color;
  }
  .add-adv-btn i{
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  margin-inline-end: 8px;
  }
  
  
  /*top header*/
  header {
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .search-bar{
    background-color: #fff;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-select-part{
    display: flex;
    align-items: center;
  }
  .search-select-part select{
    width: 254px;
    height: 44px;
    border: 1px solid rgb(227, 228, 230);
    display: flex;
    align-items: center;
    background-color: #f4f5f6;
    font-size: 14px;
    color: #999;
    font-weight: 600;
    padding: 0 17px;
   transition: 0.5s;
    outline: none;
  position: relative;
//    -webkit-appearance: none;
    // -moz-appearance: none;
  }
  .search-select-part select:focus{
    border:1px solid $second-color;
  }
  
  
  .select-wrapper select {
    display: none; /*hide original SELECT element:*/
  }
  
  
  
  
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
   
    width: 200px;
    height: 44px;
    border: 1px solid rgb(227, 228, 230);
    display: flex;
    align-items: center;
    background-color: #f4f5f6;
    font-size: 14px;
    color: #999;
    font-weight: 600;
    padding: 0 17px;
    transition: 0.5s;
    outline: none;
    position: relative;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    cursor: pointer;
    transition: 0.5s;
    // display: none;
  }
  .select-arrow-active{
    border: 1px solid $second-color;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: $second-color;
   
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-items div:hover{
    color: #fff;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .select-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
  }
  .select-wrapper::after{
    content: "ï„‡";
    font-family: "Line Awesome Free";
    font-weight: 700;
    position: absolute;
    position: absolute;
    top: 31%;
    inset-inline-end: 17px;
    font-size: 12px;
    color: #999;
    // display: none;
  }
  
  
  
  .nav-header {
    padding: 10px 20px;
    background-color: #f4f5f6;
  }


 .nav-header .big-menu li{
    background-color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 ;
    white-space: nowrap;
    padding: 0 15px;
    filter: drop-shadow(2.5px 4.33px 3.5px rgba(0,0,0,0.05));
    transition: 0.5s;
    a{
        color: $main-color;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
    }
    &:hover{
        background-color: #664229;
        a{
            color: #fff;
        }
    }
  }
 
  
  


  .search-by-map{
    margin-inline-start: 0  ;
      background: $second-color  ;
      box-shadow: none  ;
      padding: 0 18px  ;
      display: flex;
      height: 40px;
      align-items: center;
      transition: 0.5s;
      &:hover{
        background-color: $main-color  ;
      }
       i{
        color: #fff;
        font-size: 20px;
        margin-inline-end: 8px;
      }
       a{
        color: #fff  ;
        font-size: 14px  ;
         font-weight: 700  ;
      }
  }
 

  .nav-header li {
    margin-left: 10px;
  }
  .big-menu .active{
    background-color: $main-color  ;
    box-shadow: none  ;
  }
  .nav-header .big-menu li.active{
    background-color: $main-color;
    a{
        color: #fff  ;
    }
  } 
  
  .nav-header .big-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    &::-webkit-scrollbar{
        display: none;
    }
  }

  .nav-header .big-menu li.search-by-map{
    background-color: $second-color;
    height: 40px;
    width: 148px;
    a{
        color: #fff;
    }
}


.search-section{
    display: flex;
    align-items: center;
}
.search-button {
    width: 88px;
height: 40px;
background-color: #664229;
font-size: 14px;
color: #ffffff;
font-weight: 700;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
&:hover{
  color: #fff;
}
i{
    transform: scaleX(-1);
    margin-left: 8px;
    font-size: 16px;
    color: #ffffff;
}
}


.dropbtn {
  span{
    display: flex;
    align-items: center;
  }
  i{
    font-size: 20px;
    color: $main-color;
    margin-inline-end: 7px;
    transition: 0.5s;
  }
  .arrow-down-dropdown{
    font-size: 13px;
    margin-inline-start: 5px;
  }
}
  

  


.dropdown-content {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  z-index: 300;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  a  , button{
    color:#664229;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: $second-color;
    }
  }
}


  .dropdown{
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    &:hover{
      .dropdown-content{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .notification {
    position: absolute;
    top: 0;
    background-color: $second-color;
    // color: $second-color;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }


  @include max-1200{
    .search-section{
      display: none;
    }
  }