body {
  font-weight: 400;
  font-style: normal;
  font-family: 'Cairo'  ;
  background-color: #F4F5F6;
  text-align: right;
  padding-top: 134px;
}
// Basic ancor 



.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  &:hover{
    text-decoration: none;
    color: black;
  }
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus{
    text-decoration: none;
  }
}


.general-form-content-h2{
  font-size: 22px;
  color: #664229;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  text-align: center;
}

.general-input{
  line-height: 40px;
  color: #808080;
  transition: all linear .2s;
  width: 350px;
  height: 40px;
  background-color: #f4f5f6;
  display: block;
  border: none;
  outline: none;
  padding: 0 20px;
  border: 1px solid transparent;
  &:focus{
    border-color: #664229;
}
}
textarea.general-input{
height: 100px;
resize: none;
// background-color: #f4f5f6;
}
.general-btn {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: transparent;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  transition: all linear .2s;
  &:hover{
    color: #fff;
  }
}


// bread crump 

.breadcrumb-sec{
  padding:30px 0 40px 0;
}

.item-home::after{
  content: " / ";
  padding: 0 5px;
  color: #808080;
}
.breadcrumb{
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  row-gap: 4px;
 
}

html[dir="ltr"]{
  .breadcrumb{
      row-gap: 2px;
  }
}


.bread-link{
  transition: all linear .2s;
  &:hover{
      color: $main-color;
  }
}

ol.breadcrumb li a, ol.breadcrumb li span, ol.breadcrumb li {
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-size: 12px;
  color: #808080;
  font-weight: 600;
  text-decoration: none ;
}

//end of  bread crump 






img {
  image-rendering: -webkit-optimize-contrast ;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}











// Scrollbar

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 3px;
// }

// ::-webkit-scrollbar-thumb {
//   background:  $main-color;
//   border-radius: 15px;
// }

// ::-webkit-scrollbar-track{
//   background-color: #d3d3d3;
// }


/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: $second-color;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  background-color: $main-color;
  /* border-radius: 4px 4px 4px 4px; */
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/




// Back to Top
.toTop{
filter: drop-shadow(0 0 10px rgba(0,0,0,0.15));
background-color: #ffffff;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 50;
  transition: all linear .3s;
  opacity: 0;
  visibility: hidden;
  .toTop-icon{
    font-size: 18px;
    line-height: 19px;
    color: #999999;
    transition: all linear .2s;
  }
}







@include min-1200{
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1170px;
  }
}



@include min-768 {
  .toTop{
    &:hover{
      background-color: $main-color;
      i{
        color: #fff;
      }
     
  }
  }
}



@include max-768 {
  .general-form-content-h2 {
    font-size: 18px;
}
.general-btn{
  width: 100%;
}
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 20px;
    padding-left: 20px;
  }
}













