.showToTop {
    opacity: 1;
    visibility: visible;
}

.rotate-select-icon::after{
    transform: translateY(-50%) rotate(180deg) !important; 
}

.icon-rotate::after{
    transform:  rotate(180deg)  !important;
}

.overflow-hidden {
    overflow: hidden;
}
.open-search{
    display: block;
}

.css-19bb58m{
    margin: 0 !important;
    height: 40px !important;
  }
  .css-hlgwow{
    padding: 0 20px !important;
  }
  .css-1jqq78o-placeholder {
    margin: 0 !important;
  }